.nav-top{
    background-color: rgb(1, 66, 146) !important;
}
.nav-menu{
    color: white !important;
    background-color: #37cfcf !important;
    margin: 0.4em !important;
    border-radius: 0.4em !important;
    font-weight: bold !important;
}
.btn-pesquisa{
    color: white !important;
    background-color: #37cfcf !important;
    border-radius: 0.3 !important;
    border-color: rgb(1, 66, 146) !important;
    font-weight: bold !important;
}
.nav-menu:hover{
    background-color: rgb(1, 66, 146) !important;              
}

.img-car{
    max-height: 50em !important;
}

.carousel-caption{
    background-color: #909db07e !important;
    width: 70% !important;
    color: black !important;
    font-size: 130% !important;

}
.divisao{
    background-color:  rgb(1, 66, 146) !important;
    text-align: center !important;
    color: white !important;
    padding: 5% !important;
}

.sec-pacotes{
    margin-left: 5% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 0.5% !important;
}

.card{
    margin-left: 2em !important;
    margin-right: 2em !important;
    padding: 1em !important;
}
footer{
   background-color: rgb(1, 66, 146) !important;
   padding: 1em !important;
   color: white !important;
   text-align: center !important;
}
.contato-formulario{
    background-color: rgb(189, 225, 225);
    margin-right: 10% !important;
    border-radius: 2% !important;
    border: 1px solid black !important;
    margin: 0.5% !important;
    box-shadow: 1px 1px 1px 1px black !important;
}
.button-enviar{
    margin-top: 1em !important;
    background-color: blue !important;
    color: white !important;
}
.contato-redes{
    border-radius: 2% !important;
    flex: 1 !important;
    margin: 0.5em !important;
    border: 1px solid black !important;
    background-color: rgb(189, 225, 225) !important;
    margin-left: 1% !important;
    box-shadow: 1px 1px 1px 1px black !important;
    padding: 1em !important;
    text-align: center !important;
    justify-content: center !important;
}
.whatsapp{
    margin-left: 27% !important;
    margin-right: 30% !important;
    text-align: center !important;
    justify-content: center !important;
}
.mapa{
    margin-left: 15% !important;
}
.titulo-principal{
    text-align: center !important;
}
.sec-contatos{
    margin-left: 5% !important;
    margin-right: 5% !important;
}

@media (min-width: 200px) and (max-width: 768px){
    iframe{
        width: 90% !important;
      
    }
}
